<%- include('templates/header'); -%>

    <section class="user-profile">
        <img class="rounded-circle" id="profile-pic" src="/imgs/profile-img.png" alt="">
        
        <div id="name"><%= author.name %> </div>
        <div id="user" >@<%= author.user %> </div>
        <p id="decription" ><%= author.descr %> </p>

        <small>
          <i class="far fa-calendar-alt"></i>
          Criou a conta em : blabla
        </small>
    </section>

  <!-- Tweets Area -->
  <div class="tweets-area">

    <!-- Print all tweets avaliable -->
    <% tweets.forEach(tweet=> { %>

      <div class="tweet">

        <!-- Tweet header -->
        <div class="tweet-header">

          <!-- Profile Image   -->
          <img src="/imgs/profile-icon.png" alt="Default twitter icon" 
            class="rounded-circle icon-profile">

          <!-- Go to user page -->
          <form action="/users/<%=tweet.author%>" method="get">
            
            <!-- Name -->
            <input id="<%= tweet.id %>" class="tweet-username"
                type="submit" value="<%= tweet.name %>" name="id">
          
          </form>

          <div class="d-inline small">

            <!-- User @ -->
            <div class="d-inline author">
              <label class="label-user" for="<%= tweet.id %>"><%= '@' + tweet.author %></label>
              
            </div>

            <!-- Timestamp -->
            <!-- <div class="d-inline">- <%= tweet.date %></div> -->

          </div>

          <!-- <form action=<%='/delete/' +tweet.id %> method="post">

            <button class="btn-delete" type="submit">Apagar</button>

          </form> -->
        </div>

        <div class="tweet-body">


          <!-- Tweet content -->
          <p class="tweet-content">
            <%= tweet.content %>
          </p>

          <!-- Tweet footer -->
          <div class="tweet-footer">

            <!-- Comments -->
            <div class="footer-item comment">
              <i class="far fa-comment"></i>
              <%=' '+tweet.cmmnts %>
            </div>
            
            <!-- Retweets -->
            <div class="footer-item rt">
            <form action="<%= '/tweets/' + tweet.id + '/rt' %>" method="POST" class="form-btn">
                <button type="submit">
                  <i class="fas fa-retweet"></i>
                  <%= ' ' +tweet.rts %>
                </button>
                
              </form>
            </div>


            <!-- Likes -->
            <div class="footer-item like">
            <form action="<%= '/tweets/' + tweet.id + '/like'%>" method="POST" class="form-btn">
                <button type="submit">
                  <i class="far fa-heart"></i>
                <%= ' ' + tweet.likes %>
                </button>
                
              </form>
            </div>

          </div>
        </div>
      </div>
          
      <% }) %>
  </div>

<%- include('templates/footer'); -%>