<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    <%= user.name %> Page
  </title>

  <!-- CDNs -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  
  <!-- Personal CSS -->
  <link rel="stylesheet" href="style.css">

  
</head>

<body class="container-fluid bg-dark">
  <div class="tweets-area">
    <% tweets.forEach(tweet=> { %>
      <div class="post">
          <!-- <img src="..." alt="..." class="rounded-left"> -->
          <form style="display: inline;" action="/user/<%=tweet.user.author%>" method="get">
            <input type="submit" value="<%= tweet.user.name %>" name="id">
          </form>
          <div class="d-inline small">
            <div class="d-inline author">
              <%= '@' + tweet.user.author %> -
            </div>
            <div class="d-inline">
              <%= tweet.time %>
            </div>
          </div>

        <p>
          <%= tweet.content %>
        </p>

        <!-- Bottom part of a tweet -->
        <div class="row tweet-footer">
          <!-- Comments -->
          <div class="col-4 comment">
            <i class="far fa-comment"></i>
            <%=' '+tweet.comments %>
          </div>
          <!-- Retweets -->
          <div class="col-4 rt"><i class="fas fa-retweet"></i><%= ' '+tweet.rt %></div>
          <!-- Likes -->
          <div class="col-4 like"><i class="far fa-heart"></i><%= ' '+tweet.likes %></div>    
        </div>
      </div>
      <% }) %>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>